{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Agenceloc{% endblock %}

{% block body %}

<div class="text-center bg-image shadow-1-strong"
  style="background-image: url('/img/banniere2.jpg');height: 10vh;min-height: 100px;">
</div>

<section class="col-10 mx-auto">
    <h1>Qui sommes nous ?</h1>
    <div class="container my-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam repellat debitis, totam laboriosam, exercitationem repudiandae a quaerat, asperiores quasi cupiditate natus. Cum perferendis quis similique enim odit architecto voluptatibus molestiae?
    Enim eius quod qui laudantium, ullam eos sapiente, commodi facere deleniti doloremque minima omnis recusandae laboriosam sit. Magnam earum distinctio non molestias? Corrupti eligendi nesciunt cupiditate nobis aut id rem?
    </div>
    <div class="container my-4">
    <span class="fw-bold">Raison sociale :</span> AGENCELOC<br>
    <span class="fw-bold">Adresse :</span> 300 Boulevard de Vaugirard, 75015, Paris, France<br>
    <span class="fw-bold">Mission :</span> La société est spécialisée dans la location de véhicules pour les professionnels ou les particuliers.
</div>
</section>
<section class="row articles mb-5">

</section>
{% endblock %}
