{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Agenceloc{% endblock %}

{% block body %}

<section class="row articles my-5 mx-auto display-3 text-warning">
Oups, l'url demandée n'existe pas.
</section>
{% endblock %}
