{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Agenceloc{% endblock %}

{% block body %}

<section class="row articles my-5 mx-auto display-4 text-warning">
Bonjour, ce lien ne vous est pas accessible.<br><br>
<a href="{{ path('app_boutique') }}" class="btn btn-info">Retour à l'accueil</a>
</section>
{% endblock %}
