{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Agenceloc{% endblock %}

{% block body %}

<section class="row articles mb-5 text-warning">
Bonjour, ce lien ne vous est pas accessible.
</section>
{% endblock %}
